{% extends 'template.html' %}

{% block content %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h2 class="card-title mb-3 mt-3">Satellite Imagery Classification</h2>

        <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <input type="file" class="form-control-file" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
    </div>
</div>

{% endblock %}